.container-1 {
  padding: 1rem;
  height: 100vh;
  overflow: hidden;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
}
.container-1 h1 {
  font-size: 4rem;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.4);
  position: sticky;
}
.circle {
  width: 500px;
  height: 500px;
  position: absolute;
  border-radius: 50%;
  filter: blur(50px);
  z-index: -1;
}

.circle.left {
  background-color: var(--first-color);
  top: -20%;
  left: -10%;
  opacity: 0.5;
  animation: one 20s linear infinite;
}
.circle.right {
  background-color: var(--second-color);
  top: 30%;
  right: -30%;
  opacity: 0.5;
  animation: two 20s linear infinite;
}
@keyframes one {
  0% {
    top: -20%;
    left: -10%;
  }
  25% {
    top: 20%;
    left: 35%;
  }
  50% {
    top: 30%;
    left: 70%;
  }
  75% {
    top: 0%;
    left: 60%;
  }
  100% {
    top: -20%;
    left: -10%;
  }
}
@keyframes two {
  0% {
    top: 30%;
    right: -30%;
  }
  25% {
    top: 20%;
    right: 40%;
  }
  50% {
    top: -20%;
    right: 80%;
  }
  75% {
    top: 50%;
    right: 50%;
  }
  100% {
    top: 30%;
    right: -30%;
  }
}
.container-1 h1 > span {
  animation: logo 10s ease infinite;
}
