#navbar {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  width: 100vw;
  padding-left: 10%;
  padding-right: 10%;
}
#navbar #profile-logo {
  padding: 1rem;
  font-family: Poppins, san-serif;
  font-weight: 700;
  cursor: context-menu;
}
#navbar ul {
  display: flex;
  padding: 1rem;
  min-width: 320px;
  width: 40%;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid black; */
}
#navbar li {
  list-style: none;
  position: relative;
  padding: 0 5%;
  transition: all 1s ease-in-out;
}
#navbar li:hover {
  mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  mask-size: 200%;
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}
#navbar li::before {
  content: "<";
}
#navbar li::after {
  content: "/>";
}
#navbar li::after,
#navbar li::before {
  color: var(--first-color);
  font-weight: bold;
  opacity: 0;
  transition: 1s ease-out;
}
#navbar li:hover::after,
#navbar li:hover::before {
  opacity: 1;
}
@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}
@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}

#navbar a {
  text-decoration: none;
  color: var(--font-color1);
  font-weight: bold;
  font-size: 16px;
}
#profile-logo > span {
  animation: logo 10s ease-in-out infinite;
}
@keyframes logo {
  0%,
  50%,
  100% {
    color: var(--font-color1);
  }
  25% {
    color: var(--second-color);
  }
  75% {
    color: var(--first-color);
  }
}
